.top_navbar .dropdown .menu i.rounded-circle, .icon_pro {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto 10px auto;
  text-align: center;
  padding: 0;
  background-color: #3D61AB;
  background-position: center center;
  background-size: 55%;
  background-repeat: no-repeat;
}
.top_navbar .dropdown .menu li:hover i.rounded-circle {
  background-color: #EF821D
}
.top_navbar .dropdown:nth-child(1) .menu .sub-dropdown:nth-child(1) i.rounded-circle {
  background-image: url("../../images/icon_about1.svg");
}
.top_navbar .dropdown:nth-child(1) .menu .sub-dropdown:nth-child(2) i.rounded-circle {
  background-image: url("../../images/icon_about2.svg");        background-size: 45%;
}
.top_navbar .dropdown:nth-child(1) .menu .sub-dropdown:nth-child(3) i.rounded-circle {
  background-image: url("../../images/icon_about3.svg");
}
.top_navbar .dropdown:nth-child(1) .menu .sub-dropdown:nth-child(4) i.rounded-circle {
  background-image: url("../../images/icon_about4.svg");background-size: 65%;
}
.top_navbar .dropdown:nth-child(4) .menu .sub-dropdown:nth-child(1) i.rounded-circle {
  background-image: url("../../images/icon_financial1.svg");
}
.top_navbar .dropdown:nth-child(4) .menu .sub-dropdown:nth-child(2) i.rounded-circle {
  background-image: url("../../images/icon_financial2.svg");
}
.top_navbar .dropdown:nth-child(4) .menu .sub-dropdown:nth-child(3) i.rounded-circle {
  background-image: url("../../images/icon_financial3.svg");
}
.top_navbar .dropdown:nth-child(4) .menu .sub-dropdown:nth-child(4) i.rounded-circle {
  background-image: url("../../images/icon_financial4.svg");background-size: 43%;
}
.top_navbar .dropdown:nth-child(4) .menu .sub-dropdown:nth-child(5) i.rounded-circle {
  background-image: url("../../images/icon_financial5.svg");background-size: 43%;
}
.top_navbar .icon_chevron {
  /*display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;*/
}
.top_menu_tab .nav-item.show .nav-link, .top_menu_tab .nav-link.active {
  border: none;
}
.top_menu_tab .tab-content > .tab-pane.show {
  display: flex;
  justify-content: space-around;
}
.tab-pane:nth-child(1) li {
  text-align: left !important;
}